@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@import "tailwindcss";

@theme {
  --font-serif: 'Playfair Display', serif;
  --font-sans: 'Lato', sans-serif;

  --color-brand-beige: #FDFBF7;
  --color-brand-cream: #EFE6DD;
  --color-brand-pink: #D4A5A5;
  --color-brand-green: #8E9B90;
  --color-brand-dark: #2C2C2C;

  --animate-fade-in: fade-in 0.5s ease-out forwards;
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
  --animate-marquee: marquee 60s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  @apply bg-brand-beige text-brand-dark font-sans antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}